*

!/.github
!/.github/**
!/deploy
!/deploy/**
!/dotfiles
!/dotfiles/**
!/install-scripts
!/install-scripts/**
!/.cljfmt.edn
!/.devcontainer.json
!/.dockerignore
!/.gitignore
!/bb.edn
!/devc
!/docker-compose.yml
!/Dockerfile
!/kustomization.yaml
!/README.md
