*

!/deploy
!/deploy/**
!/dotfiles
!/dotfiles/**
!/install-scripts
!/install-scripts/**
!/.cljfmt.edn
!/.dockerignore
!/.gitignore
!/bb.edn
!/devc
!/devcontainer*.json
!/docker-compose.yml
!/Dockerfile
!/kustomization.yaml
!/README.md
